body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* Message styling */

.messages {
	background-color: white;
	color: white;
}

/*structured messages */


